*{
    margin: 0;
    padding: 0;
}
#container{
    width: 320px;
    height: 480px;
    background: url(../images/game_bg.jpg) no-repeat 0 0;
    max-width: 320px;
    margin: 100px auto;
    position: relative;
}
#container>#number{
    color: white;
    display: inline-block;
    margin: 1px 0px 0px 60px;
    box-sizing: border-box;
}
#container>#progress{
    width: 180px;
    height: 16px;
    background: url(../images/progress.png) no-repeat 0 0;
    position: absolute;
    left: 63px;
    top: 66px;
}
#container .start{
    width: 150px;
    line-height: 34px;
    text-align: center;
    color: white;
    /* background: linear-gradient(red,yellow,blue); 标准语法  线性渐变*/
    background:linear-gradient(#E55C3D,#C50000);
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    left: 50%;
    top: 300px;
    margin-left: -75px;
}
#container #rule{
    width: 100%;
    height: 30px;
    line-height: 30px;
    background: #ccc;
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 0;
    cursor: pointer;
}
#container>#rules{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    padding-top: 120px;
    box-sizing: border-box;
    display: none;
    z-index: 9999;
}
#rules>p{
    color: white;
    line-height: 50px;
}
#rules>a{
    color: red;
}
#container #mask{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    padding-top: 200px;
    box-sizing: border-box; 
    display: none;
    z-index: 9999;
}
#mask>h1{
    color: #ff4500;
    /* X轴，Y轴，模糊程度(不可是负值)，阴影颜色 */
    text-shadow: 3px 3px 0 #fff;
    font-size: 40px; 
}
#mask>h2{
    color: #ff4500;
    /* X轴，Y轴，模糊程度(不可是负值)，阴影颜色 */
    text-shadow: 2px 1px 0 #fff;
    font-size: 20px;   
}
#mask>.restart{
    width: 150px;
    line-height: 34px;
    text-align: center;
    color: white;
    background:linear-gradient(#74ACCF,#007DDC);
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    left: 50%;
    top: 300px;
    margin-left: -75px;    
}
#img img{
    cursor: pointer;
}